<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appdoctruyen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DocTruyenQuangCaoActivity"></activity>
        <activity android:name=".activity.DSChapHuyenNguyenActivity" />
        <activity android:name=".activity.GTHuyenNguyenActivity" />
        <activity android:name=".activity.DSChapterQuangCaoActivity" />
        <activity android:name=".activity.GTQuangCaoActivity" />
        <activity android:name=".activity.GTTruyenMoiActivity" />
        <activity android:name=".activity.DSChapTruyenMoiActivity" />
        <activity android:name=".activity.DSChapPlayListTodayActivity" />
        <activity android:name=".activity.PlayListTodayActivity" />
        <activity android:name=".activity.DocTruyenActivity" />
        <activity android:name=".activity.DanhSachChapActivity" />
        <activity android:name=".activity.GioiThieuTruyenActivity" />
        <activity android:name=".activity.ListTruyenTodayActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>